@import './assets/content-styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(./assets/OpenSans.ttf) format('truetype');
  }
}

@layer components {
  .btn-normal {
    @apply h-fit bg-slate-500 hover:opacity-90 text-white
    text-sm font-semibold py-2 px-4 rounded-xl drop-shadow-md disabled:opacity-30;
  }
  input {
    @apply disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;
  }
  input::placeholder {
    @apply text-gray-500;
  }
  input[type='text'], input[type='number'], input[type='password'], input[type='date'] {
    @apply border-2 border-slate-600 rounded-md h-9 invalid:border-red-600;
  }
  input[type='date'] {
    @apply pt-1;
  }
  select {
    @apply border-2 border-slate-600 rounded-lg h-9 pt-1 invalid:border-red-600 
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;
  }
  .container header {
    @apply w-full border-europe-dark border-b-2 mb-4 pb-2;
  }
  .container .no-border {
    @apply border-b-0 mb-0;
  }
  .container header h1 {
    @apply font-bold text-2xl text-europe-dark;
  }
  .container h2 {
    @apply font-bold text-xl text-europe-dark mb-2;
  }
  .container h3 {
    @apply font-bold text-lg text-europe-dark mb-2;
  }
  .container h4 {
    @apply font-bold text-europe-dark mb-2;
  }
  .container article {
    @apply ck-content text-cto-dark w-full;
  }
  .container article .table {
    @apply my-0;
  }
  .ck-content p {
    @apply mb-2;
  }
  .ck-content ul {
    @apply list-disc list-outside ml-6 mb-2;
  }
  .ck-content ol {
    @apply list-decimal list-outside ml-6 mb-2;
  }
  .ck-content li {
    @apply pl-2;
  }
  .ck-content #articleTables,
  .ck-content #articleCharts {
    @apply my-4;
  }
  .ck-content .imgWrapper,
  .ck-content .tblWrapper {
    @apply w-fit p-3 mx-auto border-europe-dark border-y-2;
  }
  .ck-content .tblWrapper {
    @apply border-x-2 my-2;
  }
  .ck-content .cardWrapper {
    @apply p-3 m-0 border-europe-dark border-2;
  }
  .ck-content .cardWrapper > table,
  .ck-content .cardWrapper > .chartWrapper {
    @apply my-2;
  }
  .ck-content .cardInBodyWrapper {
    @apply my-3;
  }
  .ck-content .imgWrapper > img,
  .ck-content .tblWrapper > table {
    @apply my-2 w-fit;
  }
  .ck-content .imgTitle,
  .ck-content .tblTitle,
  .ck-content .chartTitle,
  .ck-content .textCardTitle {
    @apply text-europe-dark text-lg font-semibold;
  }
  .ck-content .imgCaption,
  .ck-content .tblCaption,
  .ck-content .chartCaption {
    @apply text-cto-dark text-sm font-semibold;
  }
  .ck-content .imgDescription,
  .ck-content .tblDescription,
  .ck-content .chartDescription {
    @apply text-cto-dark text-sm;
  }
  .ck-content .imgSource,
  .ck-content .tblSource,
  .ck-content .chartSource {
    @apply text-cto-light text-sm;
  }
  .pageLink {
    @apply font-bold text-europe-light underline;
  }
  #project-page header h2 {
    @apply text-xs sm:text-base m-0
  }
  #project-page .project-parameters h2 {
    @apply text-base m-0
  }
  #project-page header span {
    @apply text-xs sm:text-sm
  }
  #project-page .project-parameters {
    @apply text-sm
  }
  .ck-content a  {
    @apply font-bold underline text-europe-light;
  }
  .react-select-container .react-select__control {
    @apply border-2 border-slate-600 rounded-md;
  }
  .react-select-container input {
    @apply focus:ring-0 focus:ring-offset-0;
  }
  .react-select-container .react-select__multi-value {
    @apply bg-europe-wash rounded-xl;
  }
  .react-select-container .react-select__menu {
    @apply mt-0;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(200,200,200,1);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #DADADA;
    -webkit-box-shadow: inset 0 0 4px rgba(90,90,90,0.7);
  }
}
